NODE_ENV=development
APP_ENV=development
DATABASE_URL=postgresql://zeropromile:devpassword@localhost:5432/zeropromile
JWT_TOKEN_SECRET_STAGING=local_dev_staging_secret
JWT_REFRESH_TOKEN_SECRET_STAGING=local_dev_staging_refresh_secret
JWT_EXPIRES_IN=15m
REFRESH_TOKEN_EXPIRES_IN=7d